@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.menu li a[href='/'] {
    color: white;
  }
.menu li a[href='/register'] {
    color: white;
  }
.menu li a[href='/new'] {
    color: white;
  }
.menu li a[href='/cart'] {
    color: white;
  }
.menu li a[href='/heart'] {
    color: white;
  }
.menu li a[href='/account'] {
    color: white;
  }
.cart {
    color: #000000;
  }